:root {
  --calculator-bg: #9ed0eb;
  --operator-btn: #efff8c;
  --operand-btn: #efefef;
  --clear-btn: #ff9ea8;
  --display-bg: #f1fbea;
}

.container {
  max-width: 360px;
  width: 100%;
  padding: 10px;
  background-color: var(--calculator-bg);
  border-radius: 5px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
