@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Tektur", cursive;
  background-color: #a8c07b;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
